.faq-section{
    padding: 0 180px;
}
.faq-text p{
    color: #642DFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.faq-text h3{
    font-size: 32px;
    font-weight: 500;
    font-weight: 39px;
    color: #1E1E1E;
    padding: 14px 0;
}

.accordion-collapse {
    border: 0;
}
.accordion-button {
    padding: 0px;
    font-weight: 500;
    border: 0;
    font-size: 16px;
    color: #333333;
    text-align: left;
    border-bottom: 1px solid #ddd; 
}
.accordion-button:focus {
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed) {
    background: none;
    color: #dc3545;
}
.accordion-body {
    padding: 15px;
    background-color: #f6f6f6;
}
.accordion-button::after {
    width: auto;
    height: auto;
    content: "+";
    font-size: 34px;
    background-image: none;
    font-weight: 100;
    color: #1b6ce5;
    transform: translateY(-4px);
}
.accordion-button:not(.collapsed)::after {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    font-size: 40px;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}



.faq-right{
    position: relative;
}
.faq-right .roundImg{
    position: absolute;
    top: 30px;
    left: 145px;
    width: 150px;
}
.poseImgfaq{
    position: absolute;
    top: 15px;
    left: 60px;
    z-index: 99;
    width: 300px;
}
.gloves{
    position: absolute;
    top: 200px;
    right: 180px;
    width: 40px;
}
.bloodPressure{
    position: absolute;
    top: 0;
    right: 50px;
    width: 40px;
}
.defibrillator{
    position: absolute;
    top: 80px;
    left: 80px;
    width: 40px;
}
.get-solution{
    position: absolute;
    top: 180px;
    left: 10px;
    z-index: 9990;
}
.get-solution button{
    background-color: #fff;
    border: 0;
    padding: 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    color: #222222;
}
.get-solution button img{
    background-color:#FFF0CC;
    padding: 5px;
    border-radius: 50%;
    margin-right: 4px;
    width: 30px;
}


/* Responsive  css */

@media (max-width: 768px) {
    .faq-right{
        position: relative;
    }
    .faq-right .roundImg{
        position: absolute;
        top: 30px;
        left: 145px;
        width: 150px;
    }
    .poseImgfaq{
        position: absolute;
        top: 15px;
        left: 60px;
        z-index: 99;
        width: 300px;
    }
    .gloves{
        position: absolute;
        top: 200px;
        right: 180px;
        width: 40px;
    }
    .bloodPressure{
        position: absolute;
        top: 0;
        right: 50px;
        width: 40px;
    }
    .defibrillator{
        position: absolute;
        top: 80px;
        left: 80px;
        width: 40px;
    }
    .get-solution{
        position: absolute;
        top: 180px;
        left: 10px;
        z-index: 9990;
    }
    .get-solution button{
        background-color: #fff;
        border: 0;
        padding: 6px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 400;
        color: #222222;
    }
    .get-solution button img{
        background-color:#FFF0CC;
        padding: 5px;
        border-radius: 50%;
        margin-right: 4px;
        width: 30px;
    }
    
}

/* Responsive css */

@media (max-width: 360px){
    .faq-right .roundImg{
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
    }
    .poseImgfaq{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 300px;
    }
}