.experience-section{
    padding: 0 180px;
}
.experience-content{
    margin-top: 80px;
}
.experience-text p{
    color: #575757;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.experience-text .e-text{
    color: #642DFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.experience-text h3{
    font-size: 32px;
    font-weight: 500;
    font-weight: 39px;
    color: #1E1E1E;
    padding: 14px 0;
}
.rightImg{
    position: relative;
}
.roundImg{
    position: absolute;
    top: -10px;
    left: 145px;
    width: 150px;
}
.bloodPressureImg{
    position: absolute;
    top: 0;
    right: 50px;
    width: 40px;
}
.firstAidImg{
    position: absolute;
    top: 0;
    left: 50px;
    width: 40px;
}
.poseImg{
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 99;
    width: 300px;
}
.plastrerImg{
    position: absolute;
    top: 200px;
    left: 140px;
    width: 40px;
}
.ellipseImg{
    position: absolute;
    top: 240px;
    left: 50px;
    width: 320px;
    height: 75px;
}

/* Responsive css */

@media (max-width: 768px){
    .experience-section{
        padding: 0 50px;
    }
    .experience-content{
        margin-top: 80px;
    }
    .experience-text p{
        color: #575757;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .experience-text .e-text{
        color: #642DFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .experience-text h3{
        font-size: 32px;
        font-weight: 500;
        font-weight: 39px;
        color: #1E1E1E;
        padding: 14px 0;
    }
    .rightImg{
        position: relative;
    }
    .roundImg{
        position: absolute;
        top: -10px;
        left: 145px;
        width: 150px;
    }
    .bloodPressureImg{
        position: absolute;
        top: 0;
        right: 50px;
    }
    .firstAidImg{
        position: absolute;
        top: 0;
        left: 50px;
    }
    .poseImg{
        position: absolute;
        top: 0;
        left: 50px;
        z-index: 99;
    }
    .plastrerImg{
        position: absolute;
        top: 200px;
        left: 140px;
    }
    .ellipseImg{
        position: absolute;
        top: 240px;
        left: 50px;
        width: 320px;
        height: 75px;
    }
    
}